* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --Orange: #FF5400;
    --black: #131318;
    --semi-black: #424247;
    --semi-white: rgba(255, 255, 255, 0.30);
    --text-color: rgba(19, 19, 24, 0.70);
    --gray: #5a5a5d;
    --body-font: 'Mulish', sans-serif;
}
body {
    font-family: var(--body-font);
    font-weight: 400;
    line-height: normal;
    color: var(--text-color);
    font-size: 16px;
}
a {
    display: block;
    text-decoration: none;
    color: var(--semi-black);
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 64px;
    color: var(--white);
    font-weight: 800;
}
h2, h3, h4 {
    color: var(--black);
    font-weight: 800;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
.orange-btn {
    color: var(--white);
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    background-color: var(--Orange);
    padding: 13px 34px;
    border: 1px solid var(--Orange);
    border-radius: 16px;
    transition: all 0.4s;
}
.orange-btn:hover {
    background-color: var(--white);
    color: var(--Orange);
    border: 1px solid var(--Orange);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: -24px -12px 0;
}
[class*="col-"] {
    padding: 0 12px;
    margin-top: 24px;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}
.col-3 {
    flex: 0 0 auto;
    width: 25%
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}
.col-6 {
    flex: 0 0 auto;
    width: 50%
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}
.col-9 {
    flex: 0 0 auto;
    width: 75%
}
.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}
.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}
.col-12 {
    flex: 0 0 auto;
    width: 100%
}
.d-flex {
    display: flex;
}
.justfy-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 12px 0;
}

.single-destination {
    border-radius: 16px;
}